<div class="game-container">
  <app-personagem (charactersSelected)="updateCharactersSelected($event)"></app-personagem>
  <div *ngIf="charactersSelected" class="game-container">
  <div class="board">
    <div *ngFor="let row of board; let i = index" class="row">
      <div *ngFor="let cell of row; let j = index" class="cell" (click)="makeMove(i, j)">
        {{ cell }}
      </div>
    </div>
  </div>
  <div class="score">
    <p>Jogador 1: {{ scoreService.player1Score }} vitórias</p>
    <p>Jogador 2: {{ scoreService.player2Score }} vitórias</p>
  </div>
</div>
</div>