.header {
    overflow: hidden;
    background-color: #1a1919;
    margin: 0px;
    margin: 0px !important;
    padding: 0;
    text-align: center;
}

.logo {
    width: 100px;
    align-items: center;
    margin: 5px;
    margin-bottom: 2px;
}