.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.name {
  font-size: 28px;
  margin: 0 auto;
  align-items: center;
  align-self: center;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  color: #252525;
}

/* ### Thumb ####*/
.inter-blue {
  background-color: #0095ff;
}

.inter-red {
  background-color: red;
}

.thumbnails {
  display: flex;
  justify-content: space-between;
  align-self: center;
  text-align: center;
  width: 800px;
  height: 310px;
  margin-top: 50px;
}

.players {
  width: 700px;
  justify-content: space-between;
  display: flex;
  align-self: center;
}

.player {
  flex: 1;
  display: grid;
  justify-content: center;
  align-self: center;
  text-align: center;

}

.player img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
  border: 5px solid;
}

/* .player-blue img{
  
  border: 5px solid #0095ff;
} */

.player img:hover {
  transform: scale(1.1);
}

.player.active img {
  animation: shake 0.5s infinite alternate;
  transform: scale(1.1);
  transition: transform 0.5s ease;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(5px);
  }

}

.shake-animation {
  animation: shake 0.9s ease-in-out infinite alternate;
}

@keyframes shake {
  from {
    transform: translateX(-3px);
  }

  to {
    transform: translateX(3px);
  }
}

/* ### input ####*/
input[type=text],
select {
  //width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* ### CSS Buttons ####*/
.bt-red {
  background-color: red;
}

.bt-blue {
  background-color: #0095ff;
}

.button-7 {
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 3px;
  height: 40px;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.bt-blue:hover,
.bt-blue:focus {
  background-color: #07c;
}

.bt-blue:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.bt-blue:active {
  background-color: #0064bd;
  box-shadow: none;
}

.bt-red:hover,
.bt-red:focus {
  background-color: rgb(116, 5, 5);
}

.bt-red:focus {
  box-shadow: 0 0 0 4px rgba(70, 1, 1, 0.15);
}


.versus {
  font-size: 70px;
  margin: 0 auto;
  align-items: center;
  align-self: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  color: #252525;
}

/* responsividade */
@media (max-width: 800px) {

  .thumbnails {
    width: 500px;
    height: 250px;
    margin-top: 30px;
  }

  .players {
    width: 500px;
    text-align: center;
  }

  .player img {
    width: 200px;
    height: 200px;
  }

  .versus {
    font-size: 50px;
  }

  .name {
    font-size: 25px;
  }
}

@media (max-width: 500px) {

  .thumbnails {
    width: 350px;
    height: 200px;
  }

  .players {
    width: 350px
  }

  .player img {
    width: 100px;
    height: 100px;
  }

  input[type=text],
  select {
    width: 150px;
  }

  .versus {
    font-size: 30px;
  }

  .name {
    font-size: 18px;
  }
}