<div class="game-container">
  <div class="players">
    <input type="text" placeholder="Jogador 1" [(ngModel)]="player1Name">
    <button (click)="searchCharacter(1)">Buscar</button>
    <input type="text" placeholder="Jogador 2" [(ngModel)]="player2Name">
    <button (click)="searchCharacter(2)">Buscar</button>
  </div>
  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  <div class="thumbnails">

    <div class="player">
      <img *ngIf="!character1" src="assets/img/iner.png" alt="Interrogação" style="width: 300px; height: 300px;">
      <img *ngIf="character1" [src]="character1.thumbnail.path + '.' + character1.thumbnail.extension"
        alt="Personagem 1" style="width: 300px; height: 300px;">
    </div>

    <div class="player">
      <img *ngIf="!character2" src="assets/img/iner.png" alt="Interrogação" style="width: 300px; height: 300px;">
      <img *ngIf="character2" [src]="character2.thumbnail.path + '.' + character2.thumbnail.extension"
        alt="Personagem 2" style="width: 300px; height: 300px;">
    </div>
  </div>